langchain==0.1.14
langchainhub==0.1.15
langgraph==0.0.32
langsmith==0.1.40
langchain_openai==0.1.1
playwright==1.42.0
ipython==8.23.0
pyaudio==0.2.14
numpy==1.26.4
lightning-whisper-mlx==0.0.10
diart==0.9.0
pre-commit==3.7.0
python-dotenv==1.0.1
websockets==12.0
langchainhub
playwright
pyaudio
