langchain
langchainhub
langgraph
langsmith
langchain_openai
playwright
ipython
pyaudio
numpy
# lightning-whisper-mlx
diart
pre-commit
python-dotenv
websockets
langchainhub
playwright
pyaudio
groq
phidata
grandalf
